In [3]:
# Initialize Otter
import otter
grader = otter.Notebook("DSA_2023_Entry.ipynb")

## DSA 2023 Summer School Admittance Check

Thanks for your interest in attending DSA Kigali 2023. To attend the summer school you have to have some level of basic Python proficiency. Completing the following notebook should ensure you have the right kind of background to benefit maximally from the Summer School. See you in Kigali!

In [4]:
# Run these once ... Just in case 
# !pip install nose 
# !pip install otter-grader
import IPython
from IPython import get_ipython
# Import the good stuff
import pandas as pd
import numpy as np
import math
from nose.tools import assert_equal
import otter
grader = otter.Notebook()

**Question 1:** Write a Python function to return a tuple of primes and non primes given an integer input

In [88]:
#function to return a tuple of primes and non primes given an integer input 
def sieve(num):
    # Create a boolean list of size num+1 and initialize all values to True
    prime = [True for i in range(num + 1)]
    p = 2
    while (p * p <= num):
        # If prime[p] is not changed, then it is a prime
        if (prime[p] == True):
            # Update all multiples of p
            for i in range(p * 2, num + 1, p):
                prime[i] = False
        p += 1
    # Create a list of primes
    primes = []
    # Create a list of non primes
    non_primes = []
    for p in range(2, num + 1):
        if prime[p]:
            primes.append(p)
        else:
            non_primes.append(p)
    return (tuple(primes), tuple(non_primes))
num = 30
print("Following are the prime and non prime numbers smaller than or equal to", num)
print(sieve(num))

Following are the prime and non prime numbers smaller than or equal to 30
((2, 3, 5, 7, 11, 13, 17, 19, 23, 29), (4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30))

In [89]:
grader.check("q1")

q1 results: All test cases passed!

**Question 2:** Create a dictionary to store the type and number of unique characters in the paragraph provided

In [90]:
paragraph = "The following is sample text I used to practice special characters using keybr.com: 112233445566778899 Saturn V rocket‚Äôs first stage carries 203,400 gallons (770,000 liters) of kerosene fuel and 318,000 gallons (1.2 million liters) of liquid oxygen needed for combustion. At liftoff, the stage‚Äôs five F-1 rocket engines ignite and produce 7.5 million pounds of thrust. To replace those goofy quantities with the far less retarded metric system (even though liters are considered part of the metric system they are the same as cubic deci-meters) you would say 770 cubic meters of kerosene {abbreviated as m3} and 1,204 m3 of liquid O2 [O2 is the symbol for oxygen]. We would also say it produced 33,600,000 newtons of force <abbreviated as N>. To add scientific notation {a way of writing numbers that allows you to write only as many digits `of specificity` as you would like} you can write 7.7 * 10 ^ 2 m3 of kerosene 1.204 * 10 ^ 3 m3 of O2 and 3.3 * 10 ^ 7 newtons. Another way to write scientific notation is to replace the ‚Äú* 10 ^‚Äù with ‚ÄòE‚Äô -/capital e\-. So our numbers would look like:s"
# initialize the dictionary.
dictionary = {}

# loop that iterates through each character in a string 
for char in paragraph:
       # if the character is not already in the dictionary, add it with a count of 1
    if char not in dictionary:
        dictionary[char] = 1

    # if the character is already in the dictionary, increment its count by 1
    else:
        dictionary[char] += 1

print(dictionary)

{'T': 3, 'h': 17, 'e': 89, ' ': 192, 'f': 26, 'o': 68, 'l': 35, 'w': 16, 'i': 60, 'n': 42, 'g': 14, 's': 57, 'a': 48, 'm': 20, 'p': 11, 't': 65, 'x': 3, 'I': 1, 'u': 26, 'd': 27, 'r': 45, 'c': 31, 'k': 9, 'y': 19, 'b': 11, '.': 12, ':': 2, '1': 11, '2': 10, '3': 13, '4': 5, '5': 3, '6': 3, '7': 10, '8': 3, '9': 2, 'S': 2, 'V': 1, '‚Äô': 3, '0': 22, ',': 7, '(': 3, ')': 3, 'q': 3, 'A': 2, 'v': 4, 'F': 1, '-': 4, '{': 2, '}': 2, 'O': 3, '[': 1, ']': 1, 'W': 1, '<': 1, 'N': 1, '>': 1, '`': 2, '*': 4, '^': 4, '‚Äú': 1, '‚Äù': 1, '‚Äò': 1, 'E': 1, '/': 1, '\\': 1}

In [91]:
grader.check("q2")

q2 results: All test cases passed!

**Question 3:** Extract the values from the dictionary above into a list

In [92]:
keysList = list(dictionary.values())
print (keysList)

[3, 17, 89, 192, 26, 68, 35, 16, 60, 42, 14, 57, 48, 20, 11, 65, 3, 1, 26, 27, 45, 31, 9, 19, 11, 12, 2, 11, 10, 13, 5, 3, 3, 10, 3, 2, 2, 1, 3, 22, 7, 3, 3, 3, 2, 4, 1, 4, 2, 2, 3, 1, 1, 1, 1, 1, 1, 2, 4, 4, 1, 1, 1, 1, 1, 1]

In [93]:
grader.check("q3")

q3 results: All test cases passed!

**Question 4:** Extract the keys from the dictionary above into a list

In [94]:
valuesList = list(dictionary.keys())
print (valuesList)

['T', 'h', 'e', ' ', 'f', 'o', 'l', 'w', 'i', 'n', 'g', 's', 'a', 'm', 'p', 't', 'x', 'I', 'u', 'd', 'r', 'c', 'k', 'y', 'b', '.', ':', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'S', 'V', '‚Äô', '0', ',', '(', ')', 'q', 'A', 'v', 'F', '-', '{', '}', 'O', '[', ']', 'W', '<', 'N', '>', '`', '*', '^', '‚Äú', '‚Äù', '‚Äò', 'E', '/', '\\']

In [95]:
grader.check("q4")

q4 results: All test cases passed!

**Question 5:** Merge the two lists into a tuple

In [98]:
# Merge the two lists into a tuple
final_tuple = tuple(zip(keysList, valuesList))
# sort the list of tuples by frequency (descending) and then by character (ascending)
final_tuple = sorted(final_tuple, key=lambda x: (x[1], x[0]))
# create the final tuple with the characters as the first element and their frequency as the second element
final_tuple = tuple(zip(*final_tuple))
print(final_tuple)

((192, 3, 3, 4, 7, 4, 12, 1, 22, 11, 10, 13, 5, 3, 3, 10, 3, 2, 2, 1, 1, 2, 1, 1, 1, 1, 3, 2, 3, 1, 1, 1, 1, 1, 4, 2, 48, 11, 31, 27, 89, 26, 14, 17, 60, 9, 35, 20, 42, 68, 11, 3, 45, 57, 65, 26, 4, 16, 3, 19, 2, 2, 1, 3, 1, 1), (' ', '(', ')', '*', ',', '-', '.', '/', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', ':', '<', '>', 'A', 'E', 'F', 'I', 'N', 'O', 'S', 'T', 'V', 'W', '[', '\\', ']', '^', '`', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', '{', '}', '‚Äò', '‚Äô', '‚Äú', '‚Äù'))

In [99]:
grader.check("q5")

q5 results:
    q5 - 1 result:
        ‚ùå Test case failed
        Trying:
            points: 2
        Expecting nothing
        ok
        Trying:
            def test_tuple():
                assert final_tuple == (('T', 'h', 'e', ' ', 'f', 'o', 'l', 'w', 'i', 'n', 'g', 's', 'a', 'm', 'p', 't', 'x', 'I', 'u', 'd', 'r', 'c', 'k', 'y', 'b', '.', ':', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'S', 'V', '‚Äô', '0', ',', '(', ')', 'q', 'A', 'v', 'F', '-', '{', '}', 'O', '[', ']', 'W', '<', 'N', '>', '`', '*', '^', '‚Äú', '‚Äù', '‚Äò', 'E', '/', '\\'), (3, 17, 89, 192, 26, 68, 35, 16, 60, 42, 14, 57, 48, 20, 11, 65, 3, 1, 26, 27, 45, 31, 9, 19, 11, 12, 2, 11, 10, 13, 5, 3, 3, 10, 3, 2, 2, 1, 3, 22, 7, 3, 3, 3, 2, 4, 1, 4, 2, 2, 3, 1, 1, 1, 1, 1, 1, 2, 4, 4, 1, 1, 1, 1, 1, 1))
        Expecting nothing
        ok
        Trying:
            test_tuple()
        Expecting nothing
        **********************************************************************
        Line 6, in q5 0
        Failed example:
            test_tuple()
        Exception raised:
            Traceback (most recent call last):
              File "d:\Anaconda\lib\doctest.py", line 1334, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q5 0[2]>", line 1, in <module>
                test_tuple()
              File "<doctest q5 0[1]>", line 2, in test_tuple
                assert final_tuple == (('T', 'h', 'e', ' ', 'f', 'o', 'l', 'w', 'i', 'n', 'g', 's', 'a', 'm', 'p', 't', 'x', 'I', 'u', 'd', 'r', 'c', 'k', 'y', 'b', '.', ':', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'S', 'V', '‚Äô', '0', ',', '(', ')', 'q', 'A', 'v', 'F', '-', '{', '}', 'O', '[', ']', 'W', '<', 'N', '>', '`', '*', '^', '‚Äú', '‚Äù', '‚Äò', 'E', '/', '\\'), (3, 17, 89, 192, 26, 68, 35, 16, 60, 42, 14, 57, 48, 20, 11, 65, 3, 1, 26, 27, 45, 31, 9, 19, 11, 12, 2, 11, 10, 13, 5, 3, 3, 10, 3, 2, 2, 1, 3, 22, 7, 3, 3, 3, 2, 4, 1, 4, 2, 2, 3, 1, 1, 1, 1, 1, 1, 2, 4, 4, 1, 1, 1, 1, 1, 1))
            AssertionError

**Question 6:**  Write a function `greatest_common_divisor` that takes two inputs `a` and `b` and returns the greatest common divisor of the two numbers. E.g. input `(10, 15)` would return `5`

In [68]:
def greatest_common_divisor(a, b):
    # if b is 0, return a
    if b == 0:
        return a
    # otherwise, return the GCD of b and the remainder of a/b
    else:
        return greatest_common_divisor(b, a % b)

In [69]:
grader.check("q6")

q6 results: All test cases passed!

**Question 7:**  Write a function `get_nearest_farthest` that takes in a point of interest (pt) and a list of points and returns the nearest point and the farthest point from the point of intest.

In [71]:
def get_nearest_farthest(pt, ptlist):
    # initialize the nearest and farthest points to the first point in the list
    nearest = farthest = ptlist[0]
    # initialize the nearest and farthest distances to the distance between the first point and the point we are comparing it to
    nearest_dist = farthest_dist = math.sqrt((nearest[0] - pt[0]) ** 2 + (nearest[1] - pt[1]) ** 2)
    # loop through the list of points
    for point in ptlist:
        # calculate the distance between the point and the point we are comparing it to
        dist = math.sqrt((point[0] - pt[0]) ** 2 + (point[1] - pt[1]) ** 2)
        # if the distance is less than the nearest distance, update the nearest distance and nearest point
        if dist < nearest_dist:
            nearest_dist = dist
            nearest = point
        # if the distance is greater than the farthest distance, update the farthest distance and farthest point
        if dist > farthest_dist:
            farthest_dist = dist
            farthest = point
    # return the nearest and farthest points
    return (nearest, farthest)

In [72]:
grader.check("q7")

q7 results: All test cases passed!

**Question 8:**  Write a function `perfectly_divisible` to return a list of numbers between 0 and a number $N$ that are perfectly divisible by $q$ (with out leaving a remainder). <br>
**Hint**: $N$ should also be inclusive in the numbers being considered. If N is negative use N == 20

In [80]:
def perfectly_divisible(N, q):
    # initialize the list of numbers
    nums = []
    # loop through the numbers between 0 and N
    for i in range(0, N + 1):
        # if the number is perfectly divisible by q, add it to the list
        if i % q == 0:
            nums.append(i)
    # return the list of numbers
    return nums

In [81]:
grader.check("q8")

q8 results: All test cases passed!

**Question 9:**  Write a function `flatten_lists` that takes in a list of lists and outputs a sorted list of elements of sublists of the input list (confusing right?) <br>
Example: given `flatten_lists([[2,13,44], [6,7]])` it should return `[2,6,7,13,44]`

In [78]:
def flatten_lists(lists):
    # initialize the list of elements
    elements = []
    # loop through the list of lists
    for lst in lists:
        # loop through the list
        for element in lst:
            # add the element to the list of elements
            elements.append(element)
    # sort the list of elements
    elements.sort()
    # return the list of elements
    return elements

In [79]:
grader.check("q9")

q9 results: All test cases passed!

**The Extra Mile!**

**Download the dataset "Nakuru Sensor Data for February 2023 from https://open.africa/dataset/sensorsafrica-airquality-archive-nakuru/resource/14165682-37dd-4f40-914e-eb24619e4ef8"**

Load the 'timestamp','value_type' and 'value' collumns into a pandas dataframe

In [106]:
import pandas as pd
from functools import reduce

#Load the 'timestamp','value_type' and 'value' collumns into a pandas dataframe 

df = pd.read_csv(r'tmpc57lj4n6.csv',usecols=['timestamp','value_type','value'],delimiter=';')

print(df)

                              timestamp   value_type  value
0      2023-02-04T04:22:51.323124+00:00     humidity    100
1      2023-02-04T04:22:51.323124+00:00  temperature     12
2      2023-02-04T04:22:51.323125+00:00           P2     27
3      2023-02-04T04:22:51.323125+00:00           P1     59
4      2023-02-04T04:25:32.354784+00:00     humidity    100
...                                 ...          ...    ...
42985  2023-02-24T07:51:55.687329+00:00  temperature     27
42986  2023-02-24T07:54:35.530536+00:00     humidity     59
42987  2023-02-24T07:54:35.530536+00:00  temperature     27
42988  2023-02-24T07:54:35.530545+00:00           P2      0
42989  2023-02-24T07:54:35.530545+00:00           P1      0

[42990 rows x 3 columns]

**Question E1:** Create a new collumn 'timestamp_new' from 'timestamp' rounded off to the second

In [107]:
# Create a new column 'timestamp_new' from 'timestamp' rounded off to the second 
df['timestamp_new'] = pd.to_datetime(df['timestamp']).dt.round('S')
print(df)

                              timestamp   value_type  value  \
0      2023-02-04T04:22:51.323124+00:00     humidity    100
1      2023-02-04T04:22:51.323124+00:00  temperature     12
2      2023-02-04T04:22:51.323125+00:00           P2     27
3      2023-02-04T04:22:51.323125+00:00           P1     59
4      2023-02-04T04:25:32.354784+00:00     humidity    100
...                                 ...          ...    ...
42985  2023-02-24T07:51:55.687329+00:00  temperature     27
42986  2023-02-24T07:54:35.530536+00:00     humidity     59
42987  2023-02-24T07:54:35.530536+00:00  temperature     27
42988  2023-02-24T07:54:35.530545+00:00           P2      0
42989  2023-02-24T07:54:35.530545+00:00           P1      0

                  timestamp_new
0     2023-02-04 04:22:51+00:00
1     2023-02-04 04:22:51+00:00
2     2023-02-04 04:22:51+00:00
3     2023-02-04 04:22:51+00:00
4     2023-02-04 04:25:32+00:00
...                         ...
42985 2023-02-24 07:51:56+00:00
42986 2023-02-24 07:54:36+00:00
42987 2023-02-24 07:54:36+00:00
42988 2023-02-24 07:54:36+00:00
42989 2023-02-24 07:54:36+00:00

[42990 rows x 4 columns]

**Question E2:** Split the dataframe based on the 'value_type' collumn

In [ ]:
grouped = ...
df_temperature = ...
df_humidity = ...
df_P1 = ...
df_P2 = ...

**Question E3:** Find the mean, mode and median of the humidity, temperature, P1 and P2 values

In [ ]:
...
print("Temperature")
print("Mean = ",mu_temp, "Median = ", med_temp, "Standard Deviation = ", sd_temp)

...
print("Humidity")
print("Mean = ",mu_humidity, "Median = ", med_humidity, "Standard Deviation = ", sd_humidity)

...
print("P1")
print("Mean = ",mu_P1, "Median = ", med_P1, "Standard Deviation = ", sd_P1)

...
print("P2")
print("Mean = ",mu_P2, "Median = ", med_P2, "Standard Deviation = ", sd_P2)

**Question E4:** Merge the grouped dataframes into one dataframe and save it as newdata.csv

In [ ]:
...
print(df_merged)

from pathlib import Path  
filepath = Path('newdata.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df_merged.to_csv(filepath)

**Question E5:** Open the new data file and select only 'timestamp_new','value_temperature','value_humidity','value_P1' and 'value_P2' collunms

In [ ]:
...
new_df

**Question E6:** Replace the missing values in collumns 'value_P1' and 'value_P2' with the mean of the same collumns

In [ ]:
#Check for missing values 
missing_values = ...

# displaying data only with NaN
...

In [ ]:
#print("The mean of P1",new_df['value_P2'].mean())
#print("The mean of P2",new_df['value_P1'].mean())

#replace missing values with the mean 
...
new_df

**Question E7:** Compute the correlations between temperature and humidity; P1 and P2

In [ ]:
#Correlation between temperature and humidity
...

print ("Correlation between temparature and humidity",corr_temp_hum)

#Correlation between P1 and P2
...

print ("Correlation between P1 and P2",corr_p1_p2)

**Question E8:** Create a new dataframe comprising of the average values of the variables by day

In [ ]:
...
means_feb = ...
means_feb

**Question E9:** Download the dataset "Nakuru Sensor Data for November 2021 from https://open.africa/dataset/sensorsafrica-airquality-archive-nakuru/resource/1f11351e-156b-4e4c-a063-b86a6ee07c4a"

Load the data into a pandas dataframe and develop a dataframe similar to what you have just done in Question no's 6 - 13 above

In [ ]:
...
means_nov = ...
means_nov

**Question E10:** Convert the means_feb and means_nov to numpy arrays ... and then compute the average of each collumn

Hint: The results are numpy arrays

In [ ]:
feb_numpy_array = ...
feb_average = ...
feb_average

In [ ]:
nov_numpy_array = ...
nov_average = ...
nov_average

**Question E11:** Write a function to compute the difference in the average temperature, humidity, P1 and P2 between November 2021 and February 2023

Hint: The result is a vector of the form [w,x,y,z]

In [ ]:
def sub():
    ...
    return diff
 
# Print the result of the subtraction
difference = sub()

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

Upload the generated zip file to the Google sheet please. Uploading work which is not yours will lead to non admittance.

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(run_tests=True)